In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("input_data/data.csv", encoding='cp1252')

In [3]:
df.sample(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
439885,574481,22609,PENS ASSORTED SPACEBALL,36,11/4/2011 12:45,0.19,18022.0,United Kingdom
361985,568399,22907,PACK OF 20 NAPKINS PANTRY DESIGN,12,9/27/2011 10:26,0.85,16145.0,United Kingdom
126375,547073,22423,REGENCY CAKESTAND 3 TIER,2,3/20/2011 14:23,12.75,17211.0,United Kingdom
768,536460,84992,72 SWEETHEART FAIRY CAKE CASES,24,12/1/2010 12:22,0.55,14849.0,United Kingdom
479616,577172,23177,TREASURE ISLAND BOOK BOX,1,11/18/2011 10:56,2.25,17760.0,United Kingdom
242691,558368,23240,SET OF 4 KNICK KNACK TINS DOILEY,6,6/28/2011 15:36,4.15,14329.0,United Kingdom
185874,552829,85124C,GREEN JUICY FRUIT PHOTO FRAME,2,5/11/2011 13:42,2.55,12748.0,United Kingdom
12038,537362,16011,ANIMAL STICKERS,41,12/6/2010 12:34,0.21,17596.0,United Kingdom
99444,544771,84946,ANTIQUE SILVER TEA GLASS ETCHED,1,2/23/2011 11:12,2.46,NaN,United Kingdom
307539,563922,23294,SET OF 6 SNACK LOAF BAKING CASES,1,8/21/2011 14:10,0.83,14529.0,United Kingdom

In [4]:
df.describe

<bound method NDFrame.describe of        InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

            InvoiceDate  UnitPrice  CustomerID         Country
0        12/1/2010 8:26       2.55     17850.0  United Kingdom
1        12/1/2010 8:26       3.39     17850.0  United Kingdom
2        12/1/2010 8:26       2.75     17850.0  United Kingdom
3        12/1/2010 8:26       3.39     17850.0  United Kingdom
4        12/1/2010 8:26       3.39     17850.0  United Kingdom
...                 ...        ...         ...             ...
541904  12/9/2011 12:50       0.85     12680.0          France
541905  12/9/2011 12:50       2.10     12680.0          France
541906  12/9/2011 12:50       4.15     12680.0          France
541907  12/9/2011 12:50       4.15     12680.0          France
541908  12/9/2011 12:50       4.95     12680.0          France

[541909 rows x 8 columns]>

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [6]:
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [7]:
df.shape

(541909, 8)

In [8]:
df_new = df.dropna()

In [9]:
df_new.shape

(406829, 8)

In [10]:
df_new.sample(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
153019,549720,21463,MIRRORED DISCO BALL,1,4/11/2011 15:25,5.95,14606.0,United Kingdom
108479,545543,22960,JAM MAKING SET WITH JARS,6,3/3/2011 14:43,4.25,13476.0,United Kingdom
154039,549843,22614,PACK OF 12 SPACEBOY TISSUES,24,4/12/2011 14:04,0.29,13157.0,United Kingdom
451260,575193,23245,SET OF 3 REGENCY CAKE TINS,4,11/9/2011 9:34,4.95,12681.0,France
346746,567200,21212,PACK OF 72 RETROSPOT CAKE CASES,24,9/19/2011 10:15,0.55,16460.0,United Kingdom
254389,559310,20676,RED RETROSPOT BOWL,72,7/7/2011 13:33,1.06,15505.0,United Kingdom
524017,580527,21174,POTTERING IN THE SHED METAL SIGN,1,12/4/2011 15:19,2.08,13736.0,United Kingdom
266124,560244,23198,PANTRY MAGNETIC SHOPPING LIST,3,7/17/2011 12:14,1.45,16931.0,United Kingdom
145889,548919,20801,LARGE PINK GLASS SUNDAE DISH,16,4/5/2011 10:18,0.79,13013.0,United Kingdom
234634,557570,22613,PACK OF 20 SPACEBOY NAPKINS,2,6/21/2011 10:48,0.85,15998.0,United Kingdom

In [11]:
df_new.duplicated().sum()

np.int64(5225)

In [12]:
df_clean = df_new.drop_duplicates()

In [13]:
df_clean.shape

(401604, 8)

In [14]:
df_clean.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [15]:
df_clean['InvoiceDate'] = pd.to_datetime(df_clean['InvoiceDate'])
df_clean.InvoiceDate.describe

C:\Users\ROHIT\AppData\Local\Temp\ipykernel_16368\3580517069.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['InvoiceDate'] = pd.to_datetime(df_clean['InvoiceDate'])

<bound method NDFrame.describe of 0        2010-12-01 08:26:00
1        2010-12-01 08:26:00
2        2010-12-01 08:26:00
3        2010-12-01 08:26:00
4        2010-12-01 08:26:00
                 ...
541904   2011-12-09 12:50:00
541905   2011-12-09 12:50:00
541906   2011-12-09 12:50:00
541907   2011-12-09 12:50:00
541908   2011-12-09 12:50:00
Name: InvoiceDate, Length: 401604, dtype: datetime64[ns]>

In [16]:
df_clean['order_date'] = df_clean['InvoiceDate'].dt.date
df_clean['order_time'] = df_clean['InvoiceDate'].dt.time

C:\Users\ROHIT\AppData\Local\Temp\ipykernel_16368\3927458971.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['order_date'] = df_clean['InvoiceDate'].dt.date
C:\Users\ROHIT\AppData\Local\Temp\ipykernel_16368\3927458971.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['order_time'] = df_clean['InvoiceDate'].dt.time

In [17]:
df_clean = df_clean.drop('InvoiceDate', axis=1)

In [18]:
df_clean.head()

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,order_date,order_time
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,17850.0,United Kingdom,2010-12-01,08:26:00
1,536365,71053,WHITE METAL LANTERN,6,3.39,17850.0,United Kingdom,2010-12-01,08:26:00
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,17850.0,United Kingdom,2010-12-01,08:26:00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,17850.0,United Kingdom,2010-12-01,08:26:00
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,17850.0,United Kingdom,2010-12-01,08:26:00

In [19]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 401604 entries, 0 to 541908
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    401604 non-null  object
 1   StockCode    401604 non-null  object
 2   Description  401604 non-null  object
 3   Quantity     401604 non-null  int64
 4   UnitPrice    401604 non-null  float64
 5   CustomerID   401604 non-null  float64
 6   Country      401604 non-null  object
 7   order_date   401604 non-null  object
 8   order_time   401604 non-null  object
dtypes: float64(2), int64(1), object(6)
memory usage: 30.6+ MB

In [20]:
df_clean['Description'].unique().shape

(3896,)

In [24]:
df_clean['total_price'] = df_clean['Quantity'] * df_clean['UnitPrice']

In [25]:
df_clean.head()

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,order_date,order_time,total_price
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,17850.0,United Kingdom,2010-12-01,08:26:00,15.30
1,536365,71053,WHITE METAL LANTERN,6,3.39,17850.0,United Kingdom,2010-12-01,08:26:00,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,17850.0,United Kingdom,2010-12-01,08:26:00,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,17850.0,United Kingdom,2010-12-01,08:26:00,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,17850.0,United Kingdom,2010-12-01,08:26:00,20.34

In [48]:
print(f"Number of Different Countries:",len(df_clean['Country'].unique()))
df_clean['Country'].unique()

Number of Different Countries: 37

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'EIRE', 'Switzerland', 'Spain', 'Poland', 'Portugal',
       'Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland',
       'Channel Islands', 'Denmark', 'Cyprus', 'Sweden', 'Austria',
       'Israel', 'Finland', 'Greece', 'Singapore', 'Lebanon',
       'United Arab Emirates', 'Saudi Arabia', 'Czech Republic', 'Canada',
       'Unspecified', 'Brazil', 'USA', 'European Community', 'Bahrain',
       'Malta', 'RSA'], dtype=object)

In [49]:
print(f"Number of Different Products:",len(df_clean['Description'].unique()))

Number of Different Products: 3896

In [78]:
num_orders_per_count = df_clean[['CustomerID', 'Country']].groupby(['Country']).count()
num_orders_per_count = num_orders_per_count.rename(columns={'CustomerID': 'Country wise number of order'})
num_orders_per_count = num_orders_per_count.sort_values(by='Country wise number of order', ascending=False)


print(f'Total Orders:', num_orders_per_count['Country wise number of order'].sum())
num_orders_per_count

Total Orders: 401604

                      Country wise number of order
Country
United Kingdom                              356728
Germany                                       9480
France                                        8475
EIRE                                          7475
Spain                                         2528
Netherlands                                   2371
Belgium                                       2069
Switzerland                                   1877
Portugal                                      1471
Australia                                     1258
Norway                                        1086
Italy                                          803
Channel Islands                                757
Finland                                        695
Cyprus                                         611
Sweden                                         461
Austria                                        401
Denmark                                        389
Japan                                          358
Poland                                         341
USA                                            291
Israel                                         247
Unspecified                                    241
Singapore                                      229
Iceland                                        182
Canada                                         151
Greece                                         146
Malta                                          127
United Arab Emirates                            68
European Community                              61
RSA                                             58
Lebanon                                         45
Lithuania                                       35
Brazil                                          32
Czech Republic                                  30
Bahrain                                         17
Saudi Arabia                                    10

In [ ]:
pd.DataFrame({'Products': (df_clean['StockCode'].sum()), 'Transactions':df_clean['InvoiceNo'].sum(), 'Customers':df_clean['CustomerID'].sum()}, index=["Quantity"])