In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("input_data/data.csv", encoding='cp1252')

In [3]:
df.sample(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
59165,541274,79321,CHILLI LIGHTS,4,1/17/2011 11:24,4.95,15696.0,United Kingdom
95760,544463,85124B,BLUE JUICY FRUIT PHOTO FRAME,2,2/20/2011 14:31,2.55,12988.0,United Kingdom
196798,553863,84997D,CHILDRENS CUTLERY POLKADOT PINK,4,5/19/2011 14:05,4.15,13418.0,United Kingdom
277354,561105,23300,GARDENERS KNEELING PAD CUP OF TEA,20,7/25/2011 11:36,1.65,15218.0,United Kingdom
178174,552229,20619,TROPICAL PASSPORT COVER,2,5/6/2011 15:40,1.63,NaN,United Kingdom
231426,557267,22088,PAPER BUNTING COLOURED LACE,2,6/19/2011 11:23,2.95,16805.0,United Kingdom
11029,537240,21121,SET/10 RED POLKADOT PARTY CANDLES,1,12/6/2010 10:08,2.51,NaN,United Kingdom
236502,557759,23175,REGENCY MILK JUG PINK,4,6/22/2011 13:52,3.25,14156.0,EIRE
287637,562113,21929,JUMBO BAG PINK VINTAGE PAISLEY,1,8/2/2011 16:11,4.13,NaN,United Kingdom
328296,565766,22475,SKULL DESIGN TV DINNER TRAY,2,9/6/2011 14:23,4.95,17841.0,United Kingdom

In [4]:
df.describe

<bound method NDFrame.describe of        InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

            InvoiceDate  UnitPrice  CustomerID         Country
0        12/1/2010 8:26       2.55     17850.0  United Kingdom
1        12/1/2010 8:26       3.39     17850.0  United Kingdom
2        12/1/2010 8:26       2.75     17850.0  United Kingdom
3        12/1/2010 8:26       3.39     17850.0  United Kingdom
4        12/1/2010 8:26       3.39     17850.0  United Kingdom
...                 ...        ...         ...             ...
541904  12/9/2011 12:50       0.85     12680.0          France
541905  12/9/2011 12:50       2.10     12680.0          France
541906  12/9/2011 12:50       4.15     12680.0          France
541907  12/9/2011 12:50       4.15     12680.0          France
541908  12/9/2011 12:50       4.95     12680.0          France

[541909 rows x 8 columns]>

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [6]:
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [7]:
df.shape

(541909, 8)

In [8]:
df_new = df.dropna()

In [9]:
df_new.shape

(406829, 8)

In [10]:
df_new.sample(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
133441,547786,84673B,BLUE FLY SWAT,3,3/25/2011 11:44,0.65,14587.0,United Kingdom
369986,569122,22080,RIBBON REEL POLKADOTS,10,9/30/2011 13:06,1.65,12694.0,France
18983,537825,22851,SET 20 NAPKINS FAIRY CAKES DESIGN,4,12/8/2010 14:36,0.85,15005.0,United Kingdom
71358,542121,22679,FRENCH BLUE METAL DOOR SIGN 4,6,1/25/2011 14:33,1.25,17515.0,United Kingdom
305952,563723,47566,PARTY BUNTING,4,8/18/2011 16:43,4.95,13319.0,United Kingdom
245685,558626,22403,MAGNETS PACK OF 4 VINTAGE LABELS,12,6/30/2011 17:34,1.25,12569.0,Germany
452493,575339,23118,PARISIENNE JEWELLERY DRAWER,1,11/9/2011 14:29,7.50,15555.0,United Kingdom
102748,545035,21166,COOK WITH WINE METAL SIGN,12,2/25/2011 17:03,2.08,15078.0,United Kingdom
229586,557064,23243,SET OF TEA COFFEE SUGAR TINS PANTRY,2,6/16/2011 15:07,4.95,13263.0,United Kingdom
146430,548987,23178,JAM CLOCK MAGNET,2,4/5/2011 12:50,2.89,14535.0,United Kingdom

In [11]:
df_new.duplicated().sum()

np.int64(5225)

In [12]:
df_clean = df_new.drop_duplicates()

In [13]:
df_clean.shape

(401604, 8)

In [14]:
df_clean.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [19]:
df_clean.loc[:,'InvoiceDate'] = pd.to_datetime(df_clean['InvoiceDate'])
df_clean.InvoiceDate.describe

<bound method NDFrame.describe of 0        2010-12-01 08:26:00
1        2010-12-01 08:26:00
2        2010-12-01 08:26:00
3        2010-12-01 08:26:00
4        2010-12-01 08:26:00
                 ...
541904   2011-12-09 12:50:00
541905   2011-12-09 12:50:00
541906   2011-12-09 12:50:00
541907   2011-12-09 12:50:00
541908   2011-12-09 12:50:00
Name: InvoiceDate, Length: 401604, dtype: datetime64[ns]>

In [21]:
df_clean.loc[:,'order_date'] = df_clean.loc[:,'InvoiceDate'].dt.date
df_clean.loc[:,'order_time'] = df_clean.loc[:,'InvoiceDate'].dt.time

In [22]:
df_clean = df_clean.drop('InvoiceDate', axis=1)

In [23]:
df_clean.head()

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,order_date,order_time
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,17850.0,United Kingdom,2010-12-01,08:26:00
1,536365,71053,WHITE METAL LANTERN,6,3.39,17850.0,United Kingdom,2010-12-01,08:26:00
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,17850.0,United Kingdom,2010-12-01,08:26:00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,17850.0,United Kingdom,2010-12-01,08:26:00
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,17850.0,United Kingdom,2010-12-01,08:26:00

In [24]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 401604 entries, 0 to 541908
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    401604 non-null  object
 1   StockCode    401604 non-null  object
 2   Description  401604 non-null  object
 3   Quantity     401604 non-null  int64
 4   UnitPrice    401604 non-null  float64
 5   CustomerID   401604 non-null  float64
 6   Country      401604 non-null  object
 7   order_date   401604 non-null  object
 8   order_time   401604 non-null  object
dtypes: float64(2), int64(1), object(6)
memory usage: 30.6+ MB

In [25]:
df_clean['Description'].unique().shape

(3896,)

In [26]:
df_clean['total_price'] = df_clean['Quantity'] * df_clean['UnitPrice']

In [27]:
df_clean.head()

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,order_date,order_time,total_price
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,17850.0,United Kingdom,2010-12-01,08:26:00,15.30
1,536365,71053,WHITE METAL LANTERN,6,3.39,17850.0,United Kingdom,2010-12-01,08:26:00,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,17850.0,United Kingdom,2010-12-01,08:26:00,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,17850.0,United Kingdom,2010-12-01,08:26:00,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,17850.0,United Kingdom,2010-12-01,08:26:00,20.34

In [28]:
print(f"Number of Different Countries:",len(df_clean['Country'].unique()))
df_clean['Country'].unique()

Number of Different Countries: 37

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'EIRE', 'Switzerland', 'Spain', 'Poland', 'Portugal',
       'Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland',
       'Channel Islands', 'Denmark', 'Cyprus', 'Sweden', 'Austria',
       'Israel', 'Finland', 'Greece', 'Singapore', 'Lebanon',
       'United Arab Emirates', 'Saudi Arabia', 'Czech Republic', 'Canada',
       'Unspecified', 'Brazil', 'USA', 'European Community', 'Bahrain',
       'Malta', 'RSA'], dtype=object)

In [29]:
print(f"Number of Different Products:",len(df_clean['Description'].unique()))

Number of Different Products: 3896

In [30]:
num_orders_per_count = df_clean[['CustomerID', 'Country']].groupby(['Country']).count()
num_orders_per_count = num_orders_per_count.rename(columns={'CustomerID': 'Country wise number of order'})
num_orders_per_count = num_orders_per_count.sort_values(by='Country wise number of order', ascending=False)

print(f'Total Orders:', num_orders_per_count['Country wise number of order'].sum())
num_orders_per_count

Total Orders: 401604

                      Country wise number of order
Country
United Kingdom                              356728
Germany                                       9480
France                                        8475
EIRE                                          7475
Spain                                         2528
Netherlands                                   2371
Belgium                                       2069
Switzerland                                   1877
Portugal                                      1471
Australia                                     1258
Norway                                        1086
Italy                                          803
Channel Islands                                757
Finland                                        695
Cyprus                                         611
Sweden                                         461
Austria                                        401
Denmark                                        389
Japan                                          358
Poland                                         341
USA                                            291
Israel                                         247
Unspecified                                    241
Singapore                                      229
Iceland                                        182
Canada                                         151
Greece                                         146
Malta                                          127
United Arab Emirates                            68
European Community                              61
RSA                                             58
Lebanon                                         45
Lithuania                                       35
Brazil                                          32
Czech Republic                                  30
Bahrain                                         17
Saudi Arabia                                    10

In [31]:
pd.DataFrame({'Products': len(df_clean['StockCode'].unique()), 'Transactions':len(df_clean['InvoiceNo'].unique()), 'Customers':len(df_clean['CustomerID'].unique())}, index=["Quantity"])

          Products  Transactions  Customers
Quantity      3684         22190       4372

In [38]:
df_clean['CustomerID'] = df_clean['CustomerID'].astype('string')
temp = df_clean.groupby(by=['CustomerID', 'InvoiceNo'], as_index=False)['order_date'].count()

temp.sort_values(by='CustomerID')
temp = temp.rename(columns={'order_date':'Number of Products'})
temp['cancelled_order'] = temp['InvoiceNo'].apply(lambda x:int("C" in x))
temp.head(10)

  CustomerID InvoiceNo  Number of Products  cancelled_order
0    12346.0    541431                   1                0
1    12346.0   C541433                   1                1
2    12347.0    537626                  31                0
3    12347.0    542237                  29                0
4    12347.0    549222                  24                0
5    12347.0    556201                  18                0
6    12347.0    562032                  22                0
7    12347.0    573511                  47                0
8    12347.0    581180                  11                0
9    12348.0    539318                  17                0

In [39]:
df_clean['cancelled_order'].value_counts()

cancelled_order
False    392732
True       8872
Name: count, dtype: int64

In [40]:
print(f'Number of Cancelled Orders:', df_clean['cancelled_order'].value_counts().iloc[1])

Number of Cancelled Orders: 8872


### 2.2 Quick Vital Stats

In [44]:
n_customers = df_clean["CustomerID"].nunique()
n_txn       = df_clean["InvoiceNo"].nunique()
revenue     = df_clean["total_price"].sum()

print(f"Customers : {n_customers:,}")
print(f"Invoices  : {n_txn:,}")
print(f"Revenue   : ${revenue:,.0f}")

Customers : 4,372
Invoices  : 22,190
Revenue   : $8,278,519

## RFM Analysis

In [50]:
# Calculate reference date (day after last transaction)
reference_date = df_clean['order_date'].max() + pd.Timedelta(days=1)

# Create RFM metrics
rfm_data = df_clean.groupby('CustomerID').agg({
    'order_date': lambda x: (reference_date - x.max()).days,  # Recency
    'InvoiceNo': 'nunique',  # Frequency
    'total_price': 'sum'  # Monetary
}).reset_index()

rfm_data.columns = ['CustomerID', 'Recency', 'Frequency', 'Monetary']
rfm_data.head()

  CustomerID  Recency  Frequency  Monetary
0    12346.0      326          2      0.00
1    12347.0        3          7   4310.00
2    12348.0       76          4   1797.24
3    12349.0       19          1   1757.55
4    12350.0      311          1    334.40

## Feature Engineering for Advanced Segmentation

In [72]:
# Additional customer features
customer_features = df_clean.groupby('CustomerID').agg({
    'Quantity': ['sum', 'mean'],
    'UnitPrice': 'mean',
    'StockCode': 'nunique',  # Product variety
    'Country': 'first',
    'order_date': ['min', 'max', 'nunique']  # Customer lifetime
}).reset_index()

# Flatten column names
customer_features.columns = ['CustomerID', 'total_quantity', 'avg_quantity_per_order', 
                           'avg_unit_price', 'product_variety', 'country', 
                           'first_purchase', 'last_purchase', 'purchase_days']

# Calculate customer lifetime in days
customer_features['customer_lifetime'] = (
    customer_features['last_purchase'] - customer_features['first_purchase']
).dt.days()
customer_features.sample(10)

AttributeError: Can only use .dt accessor with datetimelike values

## Data Preprocessing for ML

In [73]:
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans

# Merge RFM with additional features
final_features = pd.merge(rfm_data, customer_features, on='CustomerID')

# Select numerical features for clustering
cluster_features = ['Recency', 'Frequency', 'Monetary', 'total_quantity', 
                   'avg_quantity_per_order', 'avg_unit_price', 'product_variety', 
                   'customer_lifetime']

# Handle missing values and scale data
X = final_features[cluster_features].fillna(0)
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

KeyError: "['customer_lifetime'] not in index"

In [74]:
## Apply PCA for Dimensionality Reduction

In [75]:
# Apply PCA
pca = PCA(n_components=0.95)  # Retain 95% variance
X_pca = pca.fit_transform(X_scaled)

print(f"Original features: {X_scaled.shape[1]}")
print(f"PCA features: {X_pca.shape[1]}")
print(f"Explained variance ratio: {pca.explained_variance_ratio_}")

NameError: name 'X_scaled' is not defined

In [76]:
## Determine Optimal Number of Clusters

In [77]:
from sklearn.metrics import silhouette_score

# Elbow method and silhouette analysis
inertias = []
silhouette_scores = []
K_range = range(2, 11)

for k in K_range:
    kmeans = KMeans(n_clusters=k, random_state=42)
    kmeans.fit(X_pca)
    inertias.append(kmeans.inertia_)
    silhouette_scores.append(silhouette_score(X_pca, kmeans.labels_))

# Plot results to determine optimal k

NameError: name 'X_pca' is not defined

In [78]:
## Apply K-Means Clustering

In [79]:
# Apply final clustering (adjust n_clusters based on your analysis)
optimal_k = 5  # Determine from elbow/silhouette analysis
kmeans_final = KMeans(n_clusters=optimal_k, random_state=42)
clusters = kmeans_final.fit_predict(X_pca)

# Add cluster labels to dataset
final_features['Cluster'] = clusters

NameError: name 'X_pca' is not defined

In [80]:
## Analyze and Profile Clusters

In [81]:
# Cluster profiling
cluster_summary = final_features.groupby('Cluster').agg({
    'Recency': ['mean', 'median'],
    'Frequency': ['mean', 'median'],
    'Monetary': ['mean', 'median', 'sum'],
    'total_quantity': ['mean', 'sum'],
    'product_variety': 'mean',
    'customer_lifetime': 'mean',
    'CustomerID': 'count'
}).round(2)

# Calculate cluster value contribution
cluster_summary['revenue_percentage'] = (
    cluster_summary[('Monetary', 'sum')] / 
    cluster_summary[('Monetary', 'sum')].sum() * 100
)

KeyError: 'Cluster'

In [82]:
## Business Insights and Recommendations

In [83]:
# Define segment characteristics
segment_names = {
    0: "Champions",      # High value, recent, frequent
    1: "Loyal Customers", # Regular buyers
    2: "Potential Loyalists", # Recent customers with potential
    3: "At Risk",        # Declining engagement
    4: "Lost Customers"  # Haven't purchased recently
}

final_features['Segment_Name'] = final_features['Cluster'].map(segment_names)

KeyError: 'Cluster'

In [84]:
## Visualization and Dashboard Creation

In [85]:
# Export for dashboard creation
final_features.to_csv('customer_segments.csv', index=False)
cluster_summary.to_csv('cluster_summary.csv')

# Create key visualizations data
country_segments = pd.crosstab(final_features['country'], 
                              final_features['Segment_Name'], 
                              normalize='index') * 100

NameError: name 'cluster_summary' is not defined